mixin revisionOption(value,selectedRev,submission)
  - var newDate = new Date(value.created).toLocaleDateString("en-US")
  tr(class=selectedRev, data-href=value.meta.revisionNumber, data-submission=submission.meta.submissionNumber)
    td.
        #{value.name}
    td.
        #{value.submitter.firstName} #{value.submitter.lastName}
    td.
        #{newDate}
    td.
        #{value.meta.certification_level}
    td.
        #{value.description}

mixin searchLink(value,type)
  a(href='#?query="'+type+'":["'+ value+ '"]') #{value}

mixin addShareBubbles()
  .social-likes
    div(data-service="facebook", title="Share link on Facebook") Facebook
    div(data-service="twitter", title="Share link on Twitter") Twitter
    div(data-service="linkedin", title="Share link on LinkedIn") LinkedIn

mixin existingComment(commentInfo)
  .aComment(style="")
    img.commentThumbnail
    a.commentUserName
      | #{commentInfo.name}
    span.commentDate
    if user
      if (user.attributes.admin)
        a.deleteCommentLink(val=commentInfo.index)
          | Remove Comment
    .commentTextDiv
      span.commentText
        | #{commentInfo.text}

mixin PeerReviewDisplay(review, revision, index)
  p
    a(href="#review/"+revision._id+"/peer/"+index) Peer Review by #{review.user.firstName} #{review.user.lastName}
  table.reviewTable
    thead
      th Topic
      th Completed
    tbody
      for topic in review.questions.topics
        tr
          td #{topic.name}
          td
            input(type="checkbox", checked=topic.done, disabled)
    tfoot
    tfoot
      tr#summaryProgress
        td(colspan="3")
          progress(value=review.done, max="100")

mixin FinalReviewDisplay(review, revision, index)
  p
    a(href="#review/"+revision._id+"/final/"+index) Final Review by #{review.user.firstName} #{review.user.lastName}
  table.reviewTable
    thead
      th Topic
      th Level
      th Comment
    tbody
      for topic in review.questions.topics
        tr
          td #{topic.name}
          for val in topic.questions
            td #{val.value}
            td #{val.commentValue}
    tfoot
      tr#summaryProgress
        td(colspan="3")
          progress(value=review.done, max="100")
    tbody
      tr
        td Recommended Certification Level
        td review.questions.list.certificationLevel
    tfoot
mixin deleteCommentConfirmation()
  #deleteCommentConfirmation
    div(style="float:right; margin-top:20px")
    input.globalButton.deleteCommentYes(type="button", value="Yes")
    input.globalButton.deleteCommentNo(type="button", value="Cancel")

-  var viewCount=0
if 'downloadStatistics' in info.revision
  - viewCount = info.revision.downloadStatistics.views

#headerBar
.Wrapper
  .Content
    .ContentWithRightPanel
      .Panel
        h4 Resources
          ul
            li
              a#downloadLink Download
          if info.revision.meta.github
            p#githubDisclaimer
              span(style="color:red;") Caution:
              | Github repository may have been updated since submission
            ul
              li
                a(href=info.revision.meta.github) GitHub
        h4 Export citation:
          ul
            li
              select#exportCitType(name="exportType")
                option.citOption(value="bibtex") Bibtext
                option.citOption(value="xml") XML
              input.exportCit(type="submit", value="Export")
            textarea.citationDisplay(style="display: none;")
        h4 Statistics:
          ul
            li Views: #{viewCount}
            li Aggregate Downloads: #{info.parent.downloads}
        h4 Information
          ul
            if info.revision.meta.certification_level
              li
                b Certified:
                |  Level #{info.revision.meta.certification_level}
            li Type: #{info.revision.meta.type}
            li Categories:
              each item in info.revision.meta.categories
                +searchLink(item,"category")
                |,
            li Keywords:
              each item in info.revision.meta.tags
                +searchLink(item,'tags')
                |,
            li License: #{info.revision.meta["source-license"]}
            if info.parent.meta.grant
              li Grant: #{info.parent.meta.grant}
        h4 Share
        ul
          li
            +addShareBubbles()
        if user
          if (user.attributes.admin) || (info.parent.creatorId===user.id)
            h4 Manage
            ul
              li
                a(href="#plugins/journal/submission/"+info.revision._id+"/revision") New Revision
              if (user.attributes.admin)
                li
                  a(href="#plugins/journal/submission/"+info.revision._id+"/edit") Edit current revision
                if info.otherRevisions.length > 1
                  li
                    a#deleteRevision Delete Current revision
                li
                  a#deleteSubmission Delete publication
                li
                  a#manageReviews(href="#review/manage/"+info.revision._id) Manage Reviews

      .MainContent
        #publication
          .pubHeader
            h1.title.
              #{info.parent.name}
            if logo !== ''
              img.ResultLogo(src=logo)
            .pubInfo
              .revision
                b #{info.revision.name}
              span.authors
                each item in info.revision.meta.authors
                  +searchLink(item,'authors')
                  |,&nbsp;
              span.institution
                +searchLink(info.revision.meta.institution,"institution")
              span.identifier
                | Please use this identifier to cite or link to this publication:
                a(href=urlLink)  #{urlLink}
          unless info.revision.curation.status === "APPROVED"
            span(style="font-weight:bold;color:red;")
              | This article is waiting for approval
          - var newDate = new Date(info.parent.created).toLocaleDateString("en-US")
          .journal
            | Originally submitted to:&nbsp;
            a(href="#?issueId=" + info.parent.issue._id) #{info.parent.issue.name}
            span.submittedby.
              &nbsp;by #{info.revision.submitter.firstName} #{info.revision.submitter.lastName} on #{newDate}
          .abstract.
            #{info.parent.description}
          if info.revision.description
            .revision_notes
              h4 Revision Notes
              .abstract(style="text-align: justify")
                | #{info.revision.description}
          div
            table#revisionTable(width="100%")
              thead
                tr
                  th.
                    Revision Version
                  th.
                    Submitted By
                  th.
                    Submission Date
                  th.
                    Certified
                  th.
                    Notes
              tbody
                if info.otherRevisions
                  for value in info.otherRevisions
                    - selected="clickable-row"
                    if value._id === info.revision._id
                      - selected="selected"
                    +revisionOption(value,selected,info.parent)
          if info.revision.meta.reviews
            h4 Reviews (Phase: #{info.revision.meta.revisionPhase})
            - var reviewType = "Completed"
            if  info.revision.meta.revisionPhase
              - var reviewType = info.revision.meta.revisionPhase.toLowerCase()
            #reviewDisplay(width="100%")
              .peer
              .final
            - var isComplete = reviewType == "completed"
            unless isComplete
              unless info.revision.meta.reviews[reviewType].reviews.length > 0
                | There is no review at this time.
              unless user
                | To submit one, please
                a#loginToComment(href=window.location.href+'?dialog=login') Login
                |  or
                a#registerToComment(href=window.location.href+'?dialog=register') register
                |  to add a review
              else
                unless isComplete
                  a(href="#review/"+ info.revision._id+ "/" + info.revision.meta.revisionPhase.toLowerCase() +"/new") Review this publication!
          h4 Comments
          #commentsContainer
            #commentsDiv
              if user
                .addCommentWrapper
                  #addCommentDiv
                    textarea#commentText(maxlength="1200", placeholder="Write a comment...", style="height:50px; width:595px")
                    .addCommentFooter(style="")
                      .commentLimit
                        .commentLimitString
                          .commentLengthRemaining
                            | 1200 characters remaining.
                      .commentAs
                        .postingAsString
                          | posting as #{user.name()}
                          span#postingAsUsername
                      input#addCommentButton.globalButton(type="button", value="Post")
              else
                .loginToComment
                  span
                    a#loginToComment(href=window.location.href+'?dialog=login') Login
                    |  or
                    a#registerToComment(href=window.location.href+'?dialog=register') register
                    |  to add a comment
              #existingCommentsList
                for comment in info.parent.meta.comments
                  if comment.name
                    +existingComment(comment)
                .commentsBottomMessage #{info.parent.meta.comments.length} comments on this item
              .commentPaginateWrapper
