if type === "peer"
  - var reviewOptions = {'10':"Low",'11':"Med",'12':"Hi",'13':"N/A"}
else
  - var reviewOptions = {'0':'Level 0','1':'Level 1','2':'Level 2','3':'Level 3','4':'Level 4',}

- var questionSize = Object.keys(reviewOptions).length
.questionObject(value=index)
  .selectMultipleWrapper
    select.questionVal(size=questionSize, disabled=isDisabled)
      for i in Object.keys(reviewOptions)
        if question.value.indexOf(i) !== -1
          option(value=i, selected) #{reviewOptions[i]}
        else
          option(value=i) #{reviewOptions[i]}
  span.questionDescription #{question.description}
  .commentWrapper
    table
      tr
        td(style="width:100px") Comment
        if question.comment
          td
            textarea.questionComment(disabled=isDisabled) #{question.commentValue}
  if (question.attachfile === 1) && (!isDisabled)
    .uploadWrapper
      table
        tbody
          tr#attachFileRow
            td(style="vertical-align: top;width:100px;") Attachment:
            td#UploadFile
              label.downloadButton
                a.fileNameUploaded
              label.uploadButton
                span.inputUpload Attach a file...
              span.fileItemId(style="display: hidden;", value="")
