mixin disclaimerEntry(text)
  #disclaimerList
  pre #{text}
  form#disclaimerForm(data-validate="parsley", name="mainForm", method="POST", action="")
    input#PubClaYes.parsley-validated.disclaimerRad(type="radio", value="agree", name="cla", required)
    label(for="PubClaYes") I grant the license
    input#PubClaNo.parsley-validated.disclaimerRad(type="radio", value="no", name="cla", required)
    label(for="PubClaNo") I do NOT grant the license

#headerBar
#g-journal-settings-error-message
.Wrapper
  .Content
    #journalLicense
      +disclaimerEntry(disclaimer)
    .viewMain
      h3 #{titleText}
      #submission
        form#submitForm.genericForm(data-validate="parsley", method="POST", action="")
          table(width="100%")
            tbody
              if info.NR || info.info.description
                tr
                  td
                    .submission
                      .title Revision Notes
                        span(style="color:#A60000;").
                          *
                tr
                  td
                    textarea#revisionEntry.bigInput.parsley-validated(name="revNotes", required)
                      if info.info.description && !info.NR
                        | #{info.info.description}
              tr
                td
                  .submission
                    .title
                      | Title
                      span(style="color:#A60000;").
                        *
                    .caption.
                      Main title of your submission
              tr
                td
                  textarea#titleEntry.smallInput.parsley-validated(name="title", data-rangelength="[1-200]", required)
                    if info.parInfo.name
                      | #{info.parInfo.name}
              tr
                td
                  .submission
                    .title Revision Title
                    .caption.
                      Specific version title(if any)
              tr
                td
                  textarea#revisionTitle.bigInput.parsley-validated(name="revTitle")
                    if info.info.name && !info.NR
                      | #{info.info.name}
              tr
                td
                  .submission
                    .title Authors
                      span(style="color:#A60000;").
                        *
              tr
                td
                  #authors
                    .list-item
                      include journal_author_entry.pug
                  a#authorAdd.list-item Add an author
              tr
                td
                  .submission
                    .title Institution
                      span(style="color:#A60000;").
                        *
                    .caption.
                      Institution of the principal author
              tr
                td
                  textarea#institutionEntry.smallInput.parsley-validated(name="institution", required)
                    if info.info.meta
                      | #{info.info.meta.institution}
              tr
                td
                  .submission
                    .title Abstract
                      span(style="color:#A60000;").
                        *
              tr
                td
                  textarea#abstractEntry.bigInput.parsley-validated(name="description", required)
                    if info.parInfo.description
                      | #{info.parInfo.description}
              tr
                td
                  .submission
                    .title Related Work
                    .caption.
                      Describe if your article has some references to previously published papers
              tr
                td
                  textarea#relatedEntry.bigInput(name="related")
                    if info.parInfo.meta
                      | #{info.parInfo.meta.related}
              tr
                td
                  .submission
                    .title Type of submission
                      span(style="color:#A60000;").
                        *
              tr
                td
                  select#typeEntry.parsely-validated(required, name="type")
                    option.typeOption(value="GENERAL") General
                    option.typeOption(value="PUBLICATION") Publication
                    option.typeOption(value="TUTORIAL") Tutorial
                    option.typeOption(value="SOFTWARE") Software
                    option.typeOption(value="PLUGIN") Plugin
                    option.typeOption(value="DATASET") Dataset
              tr
                td
                  .submission
                    .title Category
                      span(style="color:#A60000;").
                        *
                    .caption.
                      Please select one or multiple categories
              tr
                td
                  #treeWrapper
              tr
                td
                  .submission
                    .title Tags
                      span(style="color:#A60000;").
                        *
              tr
                td
                  #tags.ui-autocomplete-input
                    include journal_tag_entry.pug
                  a#tagAdd.list-item Add a tag
              tr
                td
                  .submission
                    .title Copyright and Disclaimer
              tr
                td#copyrightWrapper
                  span Do you have the permission to submit the content of this article?
                  span(style="color:#A60000;").
                        *
                  input#PubPermissionsYes.parsley-validated.subPermission(type="radio", value="yes", name="permission", required)
                  label(for="PubPermissionsYes") Yes
                  input#PubPermissionsNo.parsley-validated.subPermission(type="radio", value="No", name="permission", required)
                  label(for="PubPermissionsYes") No
                  br
                  span If submitting on behalf of a corporation, Do you accept the
                  a(href="") Corporate Contributor Licensing Agreement
                  | ?
                  span(style="color:#A60000;").
                        *
                  input#PubClaYes.parsley-validated.CLAPermission(type="radio", value="yes", name="cla", required)
                  label(for="PubClaYes") Yes
                  input#PubClaNo.parsley-validated.CLAPermission(type="radio", value="No", name="cla", required)
                  label(for="PubClaNo") No
                  input#PubClaInd.parsley-validated.CLAPermission(type="radio", value="Ind", name="cla", required)
                  label(for="PubClaInd") Submit as Individual
                  br
                  span Copyright holder:
                  textarea#copyrightEntry.smallInput(name="copyright", style="width:400px;")
                    if info.parInfo.meta
                      | #{info.parInfo.meta.copyright}
                  br
                  span Grant/Tracking number:
                  textarea#grantEntry.smallInput(name="grant", style="width:400px;")
                    if info.parInfo.meta
                      | #{info.parInfo.meta.grant}
                  br
                  span Select a disclaimer:
                  select#disclaimer
                    option None
              tr
                td
                  br
                  input(type="submit", value="Next >", style="width:150px;")
  #licenseWrapper(style="display:none")
    .clear
    .Footer
