#headerBar
mixin issueEntry(info, parName)
  tr
    td
      | #{parName}
    td
      a.issueGen(target=info._id) #{info.name}
    td
      | #{info.daysLeft}
    td
      a.issueGen(target=info._id) Select Issue
      |,
      a#showDetails(target=info._id) Show details

#pageContent
  .Wrapper
    .Content
      .viewMain
        h3 Choose a journal where to submit
        #issueDetails
        #submission
          br
          | Don't know how to submit your paper? Visit the
          a(href="#help") help page
          | or download an
          a(href="") example
          br
          br
          table(width="70%", border="0")
            tbody
              tr
                td(width="15%")
                  div(align="left")
                    strong Journal
                td(width="50%")
                  div(align="left")
                    strong Title
                td(width="10%")
                  div(align="left")
                    strong Days left
                td(width="20%")
                  div(align="left")
                    strong Actions
              tr
                hr
              each item in info
                +issueEntry(item, info.parentName)
        .clear
        .Footer
