#newQuestionList
  h3 #{type} Question List
  form#addQuestionListForm(action="", method="post")
    input(type="hidden", name="oldList")
    div
      label(for="newname") Name:
      textarea#listText(style="width:270px;", name="newname", required).
        #{text}
    div
      label(for="newcategory") Category:
      select#newCategory(name="newcategory", required)
        option(disabled, selected) Select:
        option.catOption(val="Default") Default
        for category in catList
          option(disabled) Select:
            b #{category['key']}
          for value in category['value']
            option.catOption(val=value) #{value}
    div
      label(for="newtype") Type:
      select#reviewType(name="newtype", required)
        option(disabled, selected) Select:
        option(value="peer") Peer
        option(value="final") Final
    div
      label(for="newdescription") Description:
      textarea#reviewDescription(style="width:270px;", name="newdescription", required)
    if type === "Edit"
      button#updateList
        i.material-icons(title="Update List") save
      button#cancelNewList
        i.material-icons(title="Cancel Editing List") cancel
    else
      button(type="submit", value="Save")
        i.material-icons(title="Save List") save
      button#cancelNewList
        i.material-icons(title="Cancel Creating List") cancel
