mixin addListOption(name)
  option.qListOption(value=name) #{name}

mixin addTopic(index, value)
  .topicElement
    a.topicString(val=index) #{value.name}

#headerBar
.Wrapper
  .Content
    .viewMain
      .editArea
        hr
        .questionArea
        hr
      h3 Manage Question lists
      label Select a question list:
      select#selectList
        option.qListOption(value='-1', disabled, selected) Please select a list
        for topic in topics
          +addListOption(topic['key'])
      a#newQuestionListLink New Question List
      #qListDetail(style="display: none;")
        h3 Selected Question List: #{qList}
        button#editListLink
          i.material-icons(title="Edit Question List") edit
        button#saveListLink
          i.material-icons(title="Save Question List") save
        button#deleteList
          i.material-icons(title="Delete List") delete
        #questionListWrapper
          table
            tbody
              tr
                td
                  h4 Topics:
                td
                  h4 Questions:
              tr
                td#topicTD(style="width:250px; vertical-align: top;")
                  for topic in Object.keys(qTopics)
                    +addTopic(topic, qTopics[topic])
                td#questionTD(style="width:865px; vertical-align: top;")
              tr
                td
                  a#newTopicLink New Topic
                td
                  a#newQuestionLink New Question
