- var md5 = require('md5');

mixin catEntry(val)
  li.filterEntry
    - var hash = md5('category' + val);
    label.dynatree-title(for=hash)
      input.filterOption(val=val, id=hash, type="checkbox")
      | #{val}

.treeEntry
  h4 #{catName}
  .categoryTree
    ul.dynatree-container
      for val in values
        +catEntry(val)
