- var md5 = require('md5');

.treeEntry
  h4 Code
  .categoryTree
    ul.dynatree-container
      li.filterEntry
        - var hash = md5('code' + 'has_test_code');
        label.dynatree-title(for=hash)
          input.Code.filterOption(val="has_test_code", id=hash, type="checkbox")
          | With testing code
      li.filterEntry
        - var hash = md5('code' + 'has_code');
        label.dynatree-title(for=hash)
          input.Code.filterOption(val="has_code", id=hash, type="checkbox")
          | With code
      li.filterEntry
        - var hash = md5('code' + 'is_cif');
        label.dynatree-title(for=hash)
          input.Code.filterOption(val="is_cif", id=hash, type="checkbox")
          | Code in Flight
