mixin revisionOption(value,selectedRev)
  option.revisionOption(value=value._id) #{value.name}

mixin searchLink(value,type)
  a(href='#?query="'+type+'":"'+ value+ '"') #{value}

mixin existingComment(commentInfo)
  .aComment(style="")
    img.commentThumbnail
    a.commentUserName
      | #{commentInfo.name}
    span.commentDate
    a.deleteCommentLink(val=commentInfo.index)
      | Remove Comment
    .commentTextDiv
      span.commentText
        | #{commentInfo.text}

mixin deleteCommentConfirmation()
  #deleteCommentConfirmation
    div(style="float:right; margin-top:20px")
    input.globalButton.deleteCommentYes(type="button", value="Yes")
    input.globalButton.deleteCommentNo(type="button", value="Cancel")

#headerBar
.Wrapper
  .Content
    .ContentWithRightPanel
      .Panel
        h4 Resources
          ul
            li
              a#downloadLink Download
          if info.revision.meta.github
            p#githubDisclaimer
              span(style="color:red;") Caution:
              | Github repository may have been updated since submission
            ul
              li
                a(href=info.revision.meta.github) GitHub
        h4 Export citation:
        h4 Statistics:
        h4 Information
          ul
            li Type: #{info.revision.meta.type}
            li Categories:
            li Keywords:
              each item in info.revision.meta.tags
                +searchLink(item,'tags')
                |,
            if info.otherRevisions
              li Current revision:
                select#revisionSelector
                  for value in info.otherRevisions
                    selected= ""
                    if value === info.revision._id
                      selected = "selected=''"
                    +revisionOption(value,selected)
            li License: #{info.parent.meta.source-license}
            if info.parent.meta.grant
              li Grant: #{info.parent.meta.grant}
        h4 Share
        if user
          if (user.attributes.admin) || (info.parent.creatorId===user.id)
            h4 Manage
            ul
              li
                a(href="#plugins/journal/submission/"+info.revision._id+"/revision") New Revision
              if (user.attributes.admin)
                li
                  a(href="#plugins/journal/submission/"+info.revision._id+"/edit") Edit Resource
                li
                  a Delete Resource
                if info.parent.meta.prevRevis
                  li
                    a Delete Current revision
                li
                  a Manage Reviews

      .MainContent
        #publication
          br
          .title.
            #{info.parent.name}
          .authors
            each item in info.revision.meta.authors
              +searchLink(item,'authors')
              |,
          .institution
            +searchLink(info.revision.meta.institution,"institution")
          unless info.revision.curation.status === "APPROVED"
            span(style="font-weight:bold;color:red;")
              | This article is waiting for approval
          .journal.
            Submitted to: #{info.parent.baseParentId}
          .submittedby.
            Submitted by #{info.parent.creatorId} on #{info.parent.created}
          if info.revision.description
            h4 Revision Notes
            .abstract(style="text-align: justify")
              | #{info.revision.description}
          .abstract.
            #{info.parent.description}
          h4 Comments
          #commentsContainer
            #commentsDiv
              if user
                .addCommentWrapper
                  #addCommentDiv
                    textarea#commentText(maxlength="1200", placeholder="Write a comment...", style="height:50px; width:595px")
                    .addCommentFooter(style="")
                      .commentLimit
                        .commentLimitString
                          .commentLengthRemaining
                            | 1200 characters remaining.
                      .commentAs
                        .postingAsString
                          | posting as #{user.name()}
                          span#postingAsUsername
                      input#addCommentButton.globalButton(type="button", value="Post")
              else
                .loginToComment
                  span
                    a#loginToComment(href='#?dialog=login') Login
                    |  or
                    a#registerToComment(href='#?dialog=register') register
                    |  to add a comment
              #existingCommentsList
                for comment in info.parent.meta.comments
                  if comment.name
                    +existingComment(comment)
                .commentsBottomMessage
                  script.
                    $(".commentsBottomMessage").text($(".aComment").length +" comments on this item")
              .commentPaginateWrapper
