mixin revisionOption(value,selectedRev)
  tr(class=selectedRev, data-href=value._id)
    td.
      #{value.name}
    td.
      #{value.submitter.firstName} #{value.submitter.lastName}
    td.
      #{value.created}
    td.
      #{value.meta.certification_level}
    td.
      #{value.description}

mixin searchLink(value,type)
  a(href='#?query="'+type+'":["'+ value+ '"]') #{value}

mixin existingComment(commentInfo)
  .aComment(style="")
    img.commentThumbnail
    a.commentUserName
      | #{commentInfo.name}
    span.commentDate
    if user
      if (user.attributes.admin)
        a.deleteCommentLink(val=commentInfo.index)
          | Remove Comment
    .commentTextDiv
      span.commentText
        | #{commentInfo.text}

mixin deleteCommentConfirmation()
  #deleteCommentConfirmation
    div(style="float:right; margin-top:20px")
    input.globalButton.deleteCommentYes(type="button", value="Yes")
    input.globalButton.deleteCommentNo(type="button", value="Cancel")

-  var downloadCount=0
-  var viewCount=0
if 'downloadStatistics' in info.revision
  - downloadCount = info.revision.downloadStatistics.completed
  - viewCount = info.revision.downloadStatistics.views

#headerBar
.Wrapper
  .Content
    .ContentWithRightPanel
      .Panel
        h4 Resources
          ul
            li
              a#downloadLink Download
          if info.revision.meta.github
            p#githubDisclaimer
              span(style="color:red;") Caution:
              | Github repository may have been updated since submission
            ul
              li
                a(href=info.revision.meta.github) GitHub
        h4 Export citation:
        h4 Statistics:
          ul
            li Views: #{viewCount}
            li Downloads: #{downloadCount}
        h4 Information
          ul
            li Type: #{info.revision.meta.type}
            li Categories:
              each item in info.revision.meta.categories
                +searchLink(item,"category")
                |,
            li Keywords:
              each item in info.revision.meta.tags
                +searchLink(item,'tags')
                |,
            li License: #{info.revision.meta["source-license"]}
            if info.parent.meta.grant
              li Grant: #{info.parent.meta.grant}
        h4 Share
        if user
          if (user.attributes.admin) || (info.parent.creatorId===user.id)
            h4 Manage
            ul
              li
                a(href="#plugins/journal/submission/"+info.revision._id+"/revision") New Revision
              if (user.attributes.admin)
                li
                  a(href="#plugins/journal/submission/"+info.revision._id+"/edit") Edit current revision
                if info.otherRevisions.length > 1
                  li
                    a#deleteRevision Delete Current revision
                li
                  a#deleteSubmission Delete publication
                li
                  a#manageReviews Manage Reviews

      .MainContent
        #publication
          br
          .title.
            #{info.parent.name}
          .revision
            center
              b #{info.revision.name}
          .authors
            each item in info.revision.meta.authors
              +searchLink(item,'authors')
              |,
          .institution
            +searchLink(info.revision.meta.institution,"institution")
          unless info.revision.curation.status === "APPROVED"
            span(style="font-weight:bold;color:red;")
              | This article is waiting for approval
          .journal
            | Submitted to:
            a(href="#?issueId=" + info.parent.issue._id) #{info.parent.issue.name}
          .submittedby.
            Submitted by #{info.parent.submitter.firstName} #{info.parent.submitter.lastName} on #{info.parent.created}
          if info.revision.description
            h4 Revision Notes
            .abstract(style="text-align: justify")
              | #{info.revision.description}
          .abstract.
            #{info.parent.description}
          div
            table#revisionTable(width="100%")
              tr
                td
                  div(align="center")
                    strong.
                      Revision Version
                td
                  div(align="center")
                    strong.
                      Submitted By
                td
                  div(align="center")
                    strong.
                      Submission Date
                td
                  div(align="center")
                    strong.
                      Certified
                td
                  div(align="center")
                    strong.
                      Notes
              if info.otherRevisions
                for value in info.otherRevisions
                  - selected="clickable-row"
                  if value._id === info.revision._id
                    - selected="selected"
                  +revisionOption(value,selected)
          h4 Comments
          #commentsContainer
            #commentsDiv
              if user
                .addCommentWrapper
                  #addCommentDiv
                    textarea#commentText(maxlength="1200", placeholder="Write a comment...", style="height:50px; width:595px")
                    .addCommentFooter(style="")
                      .commentLimit
                        .commentLimitString
                          .commentLengthRemaining
                            | 1200 characters remaining.
                      .commentAs
                        .postingAsString
                          | posting as #{user.name()}
                          span#postingAsUsername
                      input#addCommentButton.globalButton(type="button", value="Post")
              else
                .loginToComment
                  span
                    a#loginToComment(href='#?dialog=login') Login
                    |  or
                    a#registerToComment(href='#?dialog=register') register
                    |  to add a comment
              #existingCommentsList
                for comment in info.parent.meta.comments
                  if comment.name
                    +existingComment(comment)
                .commentsBottomMessage
                  script(type="text/javascript").
                   $(".commentsBottomMessage").text($(".aComment").length +" comments on this item")
              .commentPaginateWrapper
