#headerBar
mixin issueEntry(info)
  tr
    td
      | #{info.parentName}
    td
      a.issueGen(target=info._id) #{info.name}
    td
      | #{info.daysLeft}
    td.actions
      a.issueGen(target=info._id) Select Issue
      a#showDetails(target=info._id) Show details

#pageContent
  .Wrapper
    .Content
      .viewMain
        h3 Choose a journal for your submission
        p#submission
          | Don't know how to submit your paper? Visit the&nbsp;
          a(href="#help") help page
          table#submissionTable(width="100%", border="0")
            thead
              tr
                th(width="15%")
                  div(align="left")
                    strong Journal
                th(width="50%")
                  div(align="left")
                    strong Title
                th(width="10%")
                  div(align="left")
                    strong Days left
                th(width="20%")
                  div(align="left")
                    strong Actions
            tbody
              tr
              each item in info
                +issueEntry(item)
        #issueDetails
        .clear
        .Footer
