mixin searchEntry(info,approveLink)
  .SearchResultEntry.box
    table(style="width:99%;")
      tr
        td(style="width:100px;height:98px;vertical-align: middle;text-align: center;")
          if info.currentRevision.logo
            img.ResultLogo.thumbnail(src=root+"/"+info.currentRevision.logo)
          else
            img.ResultLogo(src=logos['default'])
          if info.currentRevision.meta.certification_level
            .CertifiedWrapper
              img(style='border:none;', src=logos['certified'])
              | Certified
              span.CertifiedLevel(style="color:green") (Level #{info.currentRevision.meta.certification_level})
        td(style="vertical-align: top;")
          if (info.currentRevision.downloadStatistics)
            .ResultSubDescription.
                Downloaded #{info.currentRevision.downloadStatistics["completed"]} times, viewed #{info.currentRevision.downloadStatistics["views"]} times
          .ResultTop
            if approveLink
              a.resourceLink(href="#submission/"+ info.currentRevision._id+"/approve")
            else
              a.resourceLink(href="#view/"+ info.meta.submissionNumber +"/" + info.currentRevision.meta.revisionNumber)
            span.ResultTitle.
              #{info.name}
          .ResultLicense.
            License: #{info.currentRevision.meta["source-license"]}
          .ResultAuthors.
            #{info.currentRevision.meta.authors}
          .ResultDescription.
            #{info.description}

each item in info.submissions
  +searchEntry(item,info.approveLink)
