
mixin disclaimerEntry(text)
  #disclaimerList
  pre #{text}
  form#disclaimer(data-validate="parsley", name="mainForm", method="POST", action="")
    input#PubClaYes.parsley-validated.disclaimerRad(type="radio", value="agree", name="cla", required)
    label(for="PubClaYes") Agree
    input#PubClaNo.parsley-validated.disclaimerRad(type="radio", value="no", name="cla", required)
    label(for="PubClaNo") Disagree

#headerBar
.Wrapper
  .Content
    .viewMain
      #disclaimer
        +disclaimerEntry(disclaimer)
      a(href=`#view/${submissionNumber}/${revisionNumber}`) Back to article
      #downloadContent
        h3 Download
        br
        ul
          if paperDownloadUrl
            li
              a#paperDownload(href=paperDownloadUrl) Download Paper
          li
            a#fullDownload(href=parentDownloadUrl) Download All
