mixin licenseOption(name, val)
  option(value=val) #{name}

#headerBar
.Wrapper
  .Content
    .viewMain
      div
        br
        form#issueForm.mainForm(data-validate="parsley", method="POST", action="")
          table(width="100%", border="0")
            tbody
              tr
                td(width="25%", style="vertical-align: top;")
                  div(align="right")
                    strong Name:
                td(width="75%")
                  input#issueName.parsley-validated(type="text", value=info.name, required, name="name")
              tr
                td(width="25%", style="vertical-align: top;")
                  div(align="right")
                    strong Description:
                td(width="75%")
                  textarea#issueDescription(name="short_description", required)
                    | #{info.description}
              tr
                td(width="25%", style="vertical-align: top;")
                  div(align="right")
                    strong Related Links:
                td(width="75%")
                  textarea(name="related_link")
              tr
                td(width="25%", style="vertical-align: top;")
                  div(align="right")
                    strong License (Publisher):
                td(width="75%")
                  |Set license to
                  select#licensemenu(name="licensemenu")
                    option Choose...
                    +licenseOption("publisherLicense", licenses["publisherLicense"])

                  br
                  |or modify the following text
                  br
                  textarea#publishLicense(name="publishLicense")
                    if info.meta
                      | #{info.meta.publisherLicense}
              tr
                td(width="25%", style="vertical-align: top;")
                  div(align="right")
                    strong License (Author):
                td(width="75%")
                  |Set license to
                  select#copyrightmenu(name="copyrightmenu")
                    option Choose...
                    for item in Object.keys(licenses["readerLicenses"])
                      +licenseOption(item, licenses["readerLicenses"][item])
                  br
                  |or modify the following text
                  br
                  textarea#authorLicense(name="authorLicense")
                    if info.meta
                      | #{info.meta.authorLicense}
              tr
                td(width="25%", style="vertical-align: top;")
                  div(align="right")
                    strong Issue End date:
                td
                  - var paperDue=''
                  if info.meta
                    - paperDue=info.meta.paperDue
                  input.datepicker.picker__input.parsley-validated(type="date", data-type="dateIso", required, name="paperdue_date", value=paperDue, placeholder="Select a date.")
                  input(type="hidden", name="paperdue_date_submit")
              tr
                td(width="25%", style="vertical-align: top;")
                  div(align="right")
                    strong Private:
                td
                  input#privateIssue(type="checkbox", value="1", name="defaultpolicy")
              tr
                td
                td
                  input#dataFormCancel(type="button", value=" << Cancel")
                  if info.meta
                    input#dataFormSubmit(type="button", value="Update >>", name="data[Admin][add]")
                  else
                    input#dataFormSubmit(type="button", value="Create >>", name="data[Admin][add]")
