mixin searchEntry(info,approveLink)
  .SearchResultEntry.box
    table(style="width:99%;")
      tr
        td(style="width:100px;height:98px;vertical-align: middle;text-align: center;")
          if info.currentRevision.logo
            img.ResultLogo.thumbnail(src=root+"/"+info.currentRevision.logo)
          else
            img.ResultLogo.thumbnail
          //img(class="ResultLogo" src="/journal/privateModules/journal/public/images/journal.gif")
          .CertifiedWrapper(style="display:none")
            //img(style='border:none;' src="/journal/privateModules/journal/public/images/check.gif")
            | Certified
            span.CertifiedLevel(style="color:green")
        td(style="vertical-align: top;")
          .ResultSubDescription.
              Downloaded #{info.currentRevision.downloadStatistics["completed"]} times, viewed #{info.currentRevision.downloadStatistics["views"]} times
          .ResultTop
            if approveLink
              a.resourceLink(href="#plugins/journal/submission/"+ info.currentRevision._id+"/approve")
            else
              a.resourceLink(href="#view/"+ info.meta.submissionNumber)
            span.ResultTitle.
              #{info.name}
          .ResultLicense.
            License: #{info.currentRevision.meta["source-license"]}
          .ResultAuthors.
            #{info.currentRevision.meta.authors}
          .ResultDescription.
            #{info.description}

each item in info.submissions
  +searchEntry(item,info.approveLink)
